@import url(styles/cabecalho.css);
@import url(styles/sobre.css);
@import url(styles/aplicativo.css);
@import url(styles/contato.css);
@import url(styles/localiza.css);
@import url(styles/rodape.css);

body {
    background-color: #072e36;
    color: #7b9494;
}

main {
    margin: 0 20%;
}

.div-layout {
    width: 20%;
    display: flex; 
    justify-content: center;
}

.layout {
    margin: 10px;
    border-radius: 20px;
}

main img {
    width: 100%;
    border-radius: 10px;
}